<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <application allowMoreThanOneInstance="true" />
  <Receivers>
    <Rx>
      <Device Id="1" />
      <Demodulator Id="0" />
      <DemodulatorsRx>
        <Demodulator Id="3" />
        <Demodulator Id="0" />
        <Demodulator Id="1" />
        <Demodulator Id="4" />
      </DemodulatorsRx>
    </Rx>
    <Rx>
      <Device Id="2" />
      <Demodulator Id="2" />
      <DemodulatorsRx>
        <Demodulator Id="2" />
      </DemodulatorsRx>
    </Rx>
    <Rx>
      <Device Id="3" />
      <Demodulator Id="0" />
      <DemodulatorsRx>
        <Demodulator Id="0" />
      </DemodulatorsRx>
    </Rx>
  </Receivers>
  <rxDevices>
    <rxDevice Id="1" ReceiverId="1">
      <Active value="Y" />
      <TunerType value="R820T" />
      <!--Remote tcpip server address>-->
      <Socket IPaddress="192.168.168.168" port="1234" />
      <CenterFrequency value="206352000" />
      <VFO FrequencyHz="0" />
      <SamplingRate value="2048000" />
      <BitWidth value="8" />
      <DeviceIndex value="0" />
      <AGC value="on" />
      <BiasT value="off" />
      <ppm value="7841" />
      <DeltaHz value="0" />
      <GainIndex value="11" />
      <Bandwidth value="2030000" />
      <FrontendReceiver polling="false" />
      <FIRLowpassFilter BandwidthHz="2000000" Order="104" Active="no" />
      <starter autostart="no" autostop="no">
        <RemoteStarterPort value="12345" />
        <IQProvider_exe value="rtl_tcp" />
        <CommandLine value=" -d 0 -a 192.168.168.248 -p 1234" />
      </starter>
      <SpectrumFrontend Freeze="no" Gradient="yes" ShowWaterfall="yes" SmoothingLevel="4" FFTWindowIndex="2" FFTLengthIndex="0" WaterfallColorValue="0.6" WaterfallSpeedReduction="1" ShowFilter="no" ZoomLevelY="7" ZoomLevelX="0" OffsetY="50" />
    </rxDevice>
    <rxDevice Id="2">
      <Active value="N" />
      <TunerType value="R820T" />
      <!--Remote tcpip server address>-->
      <Socket IPaddress="127.0.0.1" port="1236" />
      <CenterFrequency value="1090000000" />
      <VFO FrequencyHz="1090000000" />
      <SamplingRate value="2000000" />
      <BitWidth value="8" />
      <DeviceIndex value="1" />
      <AGC value="on" />
      <BiasT value="off" />
      <ppm value="0" />
      <DeltaHz value="0" />
      <GainIndex value="15" />
      <Bandwidth value="2000000" />
      <FrontendReceiver polling="false" />
      <FIRLowpassFilter BandwidthHz="6000" Order="900" Active="no" />
      <starter autostart="no" autostop="no">
        <RemoteStarterPort value="12345" />
        <IQProvider_exe value="rtl_tcp" />
        <CommandLine value=" -d 1 -a 127.0.0.1 -p 1236" />
      </starter>
      <SpectrumFrontend Freeze="no" Gradient="yes" ShowWaterfall="yes" SmoothingLevel="4" FFTWindowIndex="1" FFTLengthIndex="0" WaterfallColorValue="1.0" WaterfallSpeedReduction="1" ShowFilter="no" ZoomLevelY="10" ZoomLevelX="0" OffsetY="50" />
    </rxDevice>
    <rxDevice Id="3">
      <Active value="N" />
      <TunerType value="R820T" />
      <!--Remote tcpip server address>-->
      <Socket IPaddress="127.0.0.1" port="1238" />
      <CenterFrequency value="94600000" />
      <VFO FrequencyHz="94600000" />
      <SamplingRate value="2048000" />
      <BitWidth value="8" />
      <DeviceIndex value="2" />
      <AGC value="on" />
      <BiasT value="off" />
      <ppm value="0" />
      <DeltaHz value="0" />
      <GainIndex value="10" />
      <Bandwidth value="1700000" />
      <FrontendReceiver polling="false" />
      <FIRLowpassFilter BandwidthHz="1700000" Order="801" Active="no" />
      <starter autostart="no" autostop="no">
        <RemoteStarterPort value="12345" />
        <IQProvider_exe value="rtl_tcp" />
        <CommandLine value=" -d 2 -a 127.0.0.1 -p 1238" />
      </starter>
      <SpectrumFrontend Freeze="no" Gradient="yes" ShowWaterfall="no" SmoothingLevel="4" FFTWindowIndex="1" FFTLengthIndex="0" WaterfallColorValue="1.0" WaterfallSpeedReduction="1" ShowFilter="no" ZoomLevelY="10" ZoomLevelX="0" OffsetY="50" />
    </rxDevice>
  </rxDevices>
  <Demodulators>
    <Demodulator Id="0" Name="DAB">
      <DAB>
        <SNR DeltaSound_dB="5" />
        <Ensemble channel="9C" service="ABC Jazz" udpIPAddress="255.255.255.255" udpPort="8765" muted="no" />
        <Ensembles value="9A,9B,9C" />
        <GUI SelecteTabIndex="1" />
        <TII Threshold="0.200" Average="1" />
        <Scanner AutoMode="no" Forever="no" DelayTime="15" DelayTimeBefore="2" MinLevel="7" Ensembles="9A,9B,9C" />
        <AudioRecorder Type="WAV" />
      </DAB>
    </Demodulator>
    <Demodulator Id="3" Name="WFM">
      <Bandwidth FrequencyHz="200000" />
      <Step FrequencyHz="1000" Active="yes" />
      <Sideband Value="WFM" />
      <Squelch Value="5" />
      <AirbandCh Value="0" />
      <StandbyCh Value="0" />
      <CenterFrequency Value="102300000" />
      <VFO FrequencyHz="102494000" />
      <Audio Stereo="yes" Filter="no" />
    </Demodulator>
    <Demodulator Id="2" Name="ADS-B">
      <Bandwidth FrequencyHz="5000" />
      <Step FrequencyHz="0" Active="no" />
      <Sideband Value="DSB" />
      <Squelch Value="0" />
      <AirbandCh Value="0" />
      <StandbyCh Value="0" />
      <CenterFrequency Value="1090000000" />
      <VFO FrequencyHz="0" />
      <Audio Stereo="no" Filter="no" />
    </Demodulator>
    <Demodulator Id="1" Name="ADS-B">
      <Bandwidth FrequencyHz="5000" />
      <Step FrequencyHz="0" Active="no" />
      <Sideband Value="DSB" />
      <Squelch Value="0" />
      <AirbandCh Value="0" />
      <StandbyCh Value="0" />
      <CenterFrequency Value="1090000000" />
      <VFO FrequencyHz="0" />
      <Audio Stereo="no" Filter="no" />
    </Demodulator>
    <Demodulator Id="4" Name="AM">
      <Bandwidth FrequencyHz="15000" />
      <Step FrequencyHz="8330" Active="yes" />
      <Sideband Value="DSB" />
      <Squelch Value="5" />
      <AirbandCh Value="119000" />
      <StandbyCh Value="118100" />
      <CenterFrequency Value="119000000" />
      <VFO FrequencyHz="119000000" />
      <Audio Stereo="no" Filter="no" />
    </Demodulator>
  </Demodulators>
  <Directories>
    <wavOut>
      <DAB value="C:\users\crossover\Local Settings\Application Data/qirx3/DABAudio/" maxSize="0" />
      <FM value="C:\users\crossover\Local Settings\Application Data/qirx3/" maxSize="0" />
      <AM value="C:\users\crossover\Local Settings\Application Data/qirx3/" maxSize="0" />
    </wavOut>
    <rawOut value="C:\users\crossover\Local Settings\Application Data/qirx3/Raw/" maxSize="0" />
    <logging value="C:/qirxLogging/" />
    <TIILogger value="C:\users\crossover\Local Settings\Application Data/qirx3/TIILogger/" />
    <Persistence value="C:\users\crossover\Local Settings\Application Data/qirx3/Persistence/" />
    <MapCache value="C:\users\crossover\Local Settings\Application Data/qirx3/MapCache/" />
    <Database value="C:\users\crossover\Local Settings\Application Data/qirx3/Database/" />
    <Pictures value="C:\users\crossover\Local Settings\Application Data/qirx3/Pictures/" />
    <Default value="C:\users\crossover\Local Settings\Application Data/qirx3/" />
  </Directories>
  <Paths>
    <Editor value="notepad.exe" />
  </Paths>
  <Algorithm moveFrequencyParallel="no" />
  <Display>
    <UpdateIntervalMs value="1100" />
  </Display>
  <Spectra>
    <SpectrumCIR Freeze="no" Gradient="yes" SmoothingLevel="4" ScaleType="1" />
    <IQData Freeze="no" Gradient="yes" SmoothingLevel="6" ScaleType="1" />
  </Spectra>
  <AudioSpectra>
    <DAB Freeze="no" Gradient="yes" SmoothingLevel="3" SelectedXHz="0" ZoomX="1" ZoomY="3" OffsetY="75" Selector="0" />
    <WFM Freeze="no" Gradient="yes" SmoothingLevel="3" SelectedXHz="0" ZoomX="1" ZoomY="3" OffsetY="75" Selector="1" />
    <NFM Freeze="no" Gradient="yes" SmoothingLevel="3" SelectedXHz="00" ZoomX="1" ZoomY="3" OffsetY="75" Selector="0" />
    <AM Freeze="no" Gradient="yes" SmoothingLevel="3" SelectedXHz="0" ZoomX="1" ZoomY="3" OffsetY="80" Selector="0" />
    <SSB Freeze="no" Gradient="yes" SmoothingLevel="3" SelectedXHz="0" ZoomX="1" ZoomY="3" OffsetY="80" Selector="0" />
  </AudioSpectra>
  <Database>
    <ExcelFile Name="qirxDAB.xlsx" />
    <FileAircraft Name="qirxAircrafts.txt" />
    <WorkSheet Name="DAB" />
    <WorkSheetAircraft Name="Aircrafts" />
    <Ofcom Link="https://www.ofcom.org.uk/__data/assets/file/0018/91305/TxParamsDAB.csv" />
    <Dablist Link="EmYSYlh3WC9YLwFlBGYKYxBkSiVXMB9uB3UNIkYpXjBcM1I2aQ1sDnoCXTlYLE1jE3sL" />
    <Aircraft Link="https://opensky-network.org/datasets/metadata/aircraftDatabase.csv" />
  </Database>
  <Map>
    <Center Latitude="50.08" Longitude="9.03" />
    <OwnPosition Latitude="50.08" Longitude="9.03" />
    <ZoomFactor Value="9" />
    <OwnPositionCentered Value="no" />
  </Map>
  <GNSS>
    <COMPort Port="COM3" Baud="9600" />
  </GNSS>
  <Logging>
    <FileNamePrefix value="qirx.log" />
    <MaxFileSizeKB value="10000" />
    <UDP IPAddress="255.255.255.255" Port="878" />
    <Level value="Debug" />
  </Logging>
</configuration>